<div class="container-sm">
   
    <nav id="sidebar" style="float: left;">
        <div class="sidebar-header">
        </div>
  
        <ul class="list-unstyled components">
            <li>
                <a class="navbar-brand"routerLink="/home">Home</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Ingestions</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="dropdown-item" href="/ingestflatfile">Ingest Flat Files</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ingestrdbms">Configure New RDBMS</a>
                    </li>
                    <li>
                        <a href="#">Excel</a>
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Sources</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                    <a href="#">MySQL</a>
                </li>
                <li>
                    <a href="#">PostgreSQL</a>
                </li>
                <li>
                    <a href="#">Excel</a>
                </li>
                </ul>
            </li>
            <li>
                <a href="#">DashBoard</a>
            </li>
            
        </ul>
    </nav>
</div> 