<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-sidenav></app-sidenav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <i class="fas fa-user"></i>

      </div>
    </nav>
    <div class="container-fluid">
      <div class="card text-black bg-light mb-3">
          <div class="card-header">
              <h1>
                  ABC
              </h1>
      
              
      
              <button style="position: relative; left: 59%; top: 20%;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
          
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="viewdetails.component.html" style="color:blue ;"><h3>Configuration</h3></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/executiondetails" style="color: black;"><h3>Execution</h3></a>
                  </li>
              </ul>
          
                          <div class="card" style="width: 50rem;">
                            <div class="card-body">
                                
                                  <a href = "/editdetails" style="position: relative; left: 90.85%; top: 20%;">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="29.5" height="30" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    </button>
                                </a>     
                                  
                                </div> 
                                <h2 style="font-weight: bold; color: #1594e9; position: relative; left: 2%;">Configuration Details</h2>
                                <table style="width: 35%;">
                                    <tr>
                                        <th>Name: </th>
                                        <td>ABC</td>
                                    </tr>
                                    <tr>
                                        <th>Description: </th>
                                        <td> Lorem ipsum</td>
                                    </tr>
                                    <tr>
                                        <th>Database Type: </th>
                                        <td>RDBMS</td>
                                    </tr>
                                </table>
                                
                          </div>
                          <div class="card" style="width: 50rem;">
                            <div class="card-body">
                              <h2 style="font-weight: bold; color: #1594e9;">Advance Details</h2>
                              <table style="width: 35%;">
                              <tr>
                                  <th>Lorem ipsum 1: </th>
                                  <td>Description 1</td>
                              </tr>
                              <tr>
                                  <th>Lorem ipsum 2: </th>
                                  <td>Description 2</td>
                              </tr>
                              <tr>
                                  <th>Lorem ipsum 3: </th>
                                  <td>Description 3</td>
                              </tr>
                              <tr>
                                  <th>Lorem ipsum 4: </th>
                                  <td>Description 4</td>
                              </tr>
                          </table>
                            </div>
                          </div>
              <div class="card" style="width: 50rem;">
                  <div class="card-body">
                    <h2 style="font-weight: bold; color: #1594e9;">Ingestion Configuration</h2>
                    <table>
                      <tr>
                          <th scope="col">Source</th>
                          <th scope="col">Destinatiion</th>
                      </tr>
                      <tbody>
                          <tr>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Database 1
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                    </div>
                              </td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Database 2
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                    </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Database 2
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                    </div>
                              </td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Database 1
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="qubzdetails.component.html">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                    </div>
                              </td>
                          </tr>
                          
                      </tbody>
                  </table>
                  </div>
                </div>
          <div class="card" style="width: 50rem;">
              <div class="card-body">
                <h2 style="font-weight: bold; color:#1594e9;">Source Data</h2>
                <table style="width: 100%;">
                    <tr>
                        <th>Request URL: </th>
                        <td>https://qubz.com/u/0/#inbox/QgrcJHsbcJHsbRcwRRjmcWjdgBMFhq</td>
                    </tr>
                    <tr>
                        <th>Username: </th>
                        <td>Ali_Traore</td>
                    <tr>
                        <th>Password: </th>
                        <td>8644D!#$</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
    
    <div class = "container">
      
      
  </div>
      






  
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

  

  
