<div class=" border-right bg-primary text-white" id="sidebar-wrapper">
    <div class="sidebar-heading">Qubz </div>
    
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="">Home</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/ingestflatfile">Ingest Flat File</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/ingestrdbms">Ingest RDBMS</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary text-white" routerLink="/ingeststreamdata">Ingest Streaming Data</a>
    </div>
    
  </div>