<div class=" border-right text-white" id="sidebar-wrapper" style="background-color: #7d88ff;">
    <div class="sidebar-heading">Qubz </div>
    
    <div class="list-group list-group-flush"  >
      <a href="#" class="list-group-item list-group-item-action  text-white" routerLink="" style="background-color: #7d88ff;">Home</a>
      <a href="#" class="list-group-item list-group-item-action  text-white" routerLink="/ingestflatfile" style="background-color: #7d88ff;">Ingest Flat File</a>
      <a href="#" class="list-group-item list-group-item-action  text-white" routerLink="/ingestrdbms" style="background-color: #7d88ff;">Ingest RDBMS</a>
      <a href="#" class="list-group-item list-group-item-action  text-white" routerLink="/ingeststreamdata" style="background-color: #7d88ff;">Ingest Streaming Data</a>
    </div>
    
  </div>