<div class="card" style="width: 18rem;">
    <div class="card-body">
    <div class="row">
        <div class="col-6">
            <h5 class="card-title">RDBMS</h5>
        </div>
        <div class="col-3">
          <button class="btn btn-light">
              <i class="fas fa-edit"></i>
            </button>                  
        </div>
        <div class="col-3">
            <button class="btn btn-light">
              <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>

        </div>
    </div>
    <div class="row mt-2">
            <div class="col">
                <p class="card-text">RDBMS</p>
            </div>
            <div class="col">
                <p>{{returnDate()}}</p>
            </div>     
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <p>25% complete</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-1">
            <button class="btn btn-light">
              <i class="fas fa-pause"></i>
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
          <a href="#" class="card-link text-primary">View Details <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>
</div>