<div class="container-sm">

    <!--Navbar-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"routerLink="/home">Qubz</a>
        <i class="fas fa-user"></i>
    </nav>
</div>

<!-- Sidebar -->
<app-sidebar></app-sidebar>



    <!--Content-->
    <!--First row-->
<div class="container-lg">
    <div class="row mt-2">
        <div class="col">
            <h1 class="h1">Ingest Flat File</h1>
        </div>
    </div>

</div>
    <!--Second row (SEARCH BAR)-->

<div class="container-sm">
    <div class="row mt-2">
             <!--Steps for ingestions-->

            <div class="col-2" >    
                    <i class="fas fa-database" ></i>                
                <h1 class="h6">Source Data</h1>
            </div>
            <!-- <div class="col-1">    
                <i class="fas fa-arrow-alt-circle-right"></i>
            </div> -->
            <div class="col-5">    
                <i class="fas fa-wrench"></i>
                <h1 class="h6">Configure Ingestion</h1>
            </div>
    </div>
</div>

    <!--Drag and drop CSV-->


<div class="row mt-4">
    
    <div class="container-fluid">
        <div class="card text-black bg-light mb-3">
            <div class="card-header text-primary">Add CSV Files</div>
            <div class="card-body">
              <h5 class="card-title">Added Files:</h5> 

                    <!-- Drag and drop -->
                   <div class="col">
                      <form method="post" action="#" id="#">
                          <div class="form-group files">
                            <input type="file" class="form-control" multiple="">
                          </div>
                      </form>     
                  </div>
            </div>
        </div>
        
            <!--Pagination arrows-->  
    </div>
</div>

<div class="container-lg">
    <div class="row mt-4">
        <div class="col-8">  
            <button type="button" class="btn btn-dark">Cancel</button>
        </div>
        <div class="col-4">  
            <button type="button" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>

