<div class="container-sm">

    <!--Navbar-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"routerLink="/home">Qubz</a>
        <i class="fas fa-user"></i>
    </nav>
</div>



<!-- Sidebar -->
<app-sidebar></app-sidebar>




    <!--Content-->
    <!--First row-->

<div class="container-sm">
    <div class="row mt-2">
        <div class="col">
            <h1>Data Ingestions</h1>
        </div>
    </div>

</div>
    <!--Second row (SEARCH BAR)-->

<div class="container-sm">
    <div class="row mt-4">
             <!--search input-->

            <div class="col-md-6 col-sm-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search by config. name/ description" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button type="submit" class="input-group-text" id="basic-addon2">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
            </div>
            <!--ingest button-->

            <div class="col-md-6 col-sm-4">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ingest <i class="fas fa-play"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLink="/ingestflatfile" href="#">Ingest Flat Files</a>
                      <a class="dropdown-item" href="#">Ingest Raw Log</a>
                      <a class="dropdown-item" routerLink="/ingestrdbms">Configure New RDBMS</a>
                      <a class="dropdown-item" href="#">Configure New Stream Data</a>
                      <a class="dropdown-item" href="#">Configure New NoSQL</a>
                      <a class="dropdown-item" href="#">Configure New Web Service</a>
                    </div>
                  </div>
            </div>
    </div>
</div>


      <!--Third row-->
<div class="container-sm">

      <div class="row mt-4">
          <div class="col-md-4">
            <h1 class="h5 text-primary" >Ingestion Type</h1>
          </div>
          <div class="col-md-8">
            <!--Drop down-->

            <div class="btn-group">
                <button class="btn btn-light btn-lg" type="button">
                  All
                </button>
                <button type="button" class="btn btn-lg btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">All</a>
                  
                </div>
            </div>
          </div>
      </div>
</div>

    <!--Fourth row(TABS + PROGRESS BARS)-->
    <div class="container-sm">

        <div class="row mt-4">
            <!--First tab-->
            <div class="col-sm col-md col-lg">
                <a routerLink="/home" routerLinkActive="active">
                    <p class="text-dark">In Progress</p>
                    <div class="progress">
                        <div class="progress-bar w-100 bg- " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
             <!--Second tab-->
             <div class="col-sm col-md col-lg">
                <a routerLink="/pending" routerLinkActive="active">
                    <p class="text-dark">Pending</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
    
             <!--Third tab-->
             <div class="col-sm col-md col-lg">
                <a href="#">
                    <p class="text-dark">Paused</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
    
             <!--Fourth tab-->
             <div class="col-sm col-md col-lg">
                <a href="#">
                    <p class="text-dark">Error</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
    
             <!--Fifth tab-->
             <div class="col-sm col-md col-lg">
                <a href="#">
                    <p class="text-dark">Completed</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
    
             <!--Sixth tab-->
             <div class="col-sm col-md col-lg">
                <a href="#">
                    <p class="text-dark">Drafts</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
    
             <!--Seventh tab-->
             <div class="col-sm col-md col-lg">
                <a href="#">
                    <p class="text-dark">Discarded</p>
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
               
            </div>
               
        </div>
    </div>

    <!--Fifth row-->
    <!--Database cards-->
    <!--First row of cards-->

<div class="container">


    <div class="row mt-4">
        
        <!--Card one-->
        <div class="col-md-6">
            <div class="col-md-12">
    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">RDBMS</h5>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                    <div class="row">
                            <div class="col">
                                <p class="card-text">RDBMS</p>
                            </div>
                            <div class="col">
                                <p>{{today.getUTCMonth() + 1}}/{{today.getUTCDate()}}/{{today.getUTCFullYear()}}</p>
                            </div>     
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <i class="fas fa-pause"></i>
                        </div>
                    </div>
        
                    <a href="#" class="card-link text-primary">View Details <i class="fas fa-angle-right"></i></a>
                </div>
                </div>
            </div>
            
        </div>
        
        <!--Card two-->
        <div class="col-md-6">
            <div class="col-md-12">
    <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">RDBMS</h5>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                    <div class="row">
                            <div class="col">
                                <p class="card-text">RDBMS</p>
                            </div>
                            <div class="col">
                                <p>{{today.getUTCMonth() + 1}}/{{today.getUTCDate()}}/{{today.getUTCFullYear()}}</p>
                            </div>     
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <i class="fas fa-pause"></i>
                        </div>
                    </div>
        
                    <a href="#" class="card-link text-primary">View Details <i class="fas fa-angle-right"></i></a>
                </div>
                </div>
            </div>
            
        </div>
        
        <!--Card three-->
        <div class="col">
            
        
        </div>


    <!--Second row of cards-->
    <div class="row mt-4">
        
        <!--Card one-->
        <div class="col">
            
        </div>
        
        <!--Card two-->
        <div class="col">
           
        </div>
        
        <!--Card three-->
        <div class="col">
           
        
    </div>


</div>
